<h1>New Species</h1>

<% if @animal.errors.any? %>
<h3>Please fix these errors:</h3>
<ul>
  <% @animal.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<form action="/animals" method="post">
  <label for="animal_species">Species</label>
  <input id="animal_species" name="animal[species]" type="text" value="<%= @animal.species %>"><br>
  <label for="animal_image">Picture (please insert image url for species)</label>
  <input id="animal_image" name="animal[image_url]" type="text" value="<%= @animal.image_url %>"><br>
  <label for="animal_population">Population (in Portland area)</label>
  <input id="animal_population" name="animal[population]" type="integer" value="<%= @animal.population %>"><br>
  <br>
  <button>Add New Species</button
</form>
