<h1>Animal species saved!</h1>

<p>Your species was successfully saved.</p>

<p><a href="/animals/<%= @animal.id %>">View <%= @animal.species %></a></p>

<p><a href="/animals">Return to main page of animals</a></p>
