<h1>Animal species saved!</h1>

<p>Your species was successfully saved.</p>

<%= link_to (@animal) do %>
  View <%= @animal.species %>
<% end %>

<p><%= link_to 'Return to main page of animals', animals_path %></p>
