<h1>Region saved!</h1>

<p>Your region was successfully saved.</p>

<p><a href="/regions/<%= @region.id %>">View <%= @region.region_name %></a></p>

<p><a href="/regions">Return to main page of regions</a></p>
